/* GENERAL
/* Remove the margin in all browsers. */

body {
  margin: 0;
}

/* FONTS */
@font-face {
  font-style: normal;
  font-weight: 400;
  font-family: 'Raleway';
  font-display: swap;
  src: url('../fonts/raleway-400.woff2') format('woff2'),
    url('../fonts/raleway-400.woff') format('woff');
}

@font-face {
  font-style: normal;
  font-weight: 600;
  font-family: 'Raleway';
  font-display: swap;
  src: url('../fonts/raleway-600.woff2') format('woff2'),
    url('../fonts/raleway-600.woff') format('woff');
}

@font-face {
  font-style: normal;
  font-weight: 700;
  font-family: 'Raleway';
  font-display: swap;
  src: url('../fonts/raleway-700.woff2') format('woff2'),
    url('../fonts/raleway-700.woff') format('woff');
}

@font-face {
  font-style: normal;
  font-weight: 800;
  font-family: 'Raleway';
  font-display: swap;
  src: url('../fonts/raleway-800.woff2') format('woff2'),
    url('../fonts/raleway-800.woff') format('woff');
}
/* COLORS */

:root {
  --main-color: #093d4e;
  --dark-green: #2e7552;
  --light-green: #09898a;
  --violet: #484e79;
  --white: #ebfbee;
}

* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  min-width: 1366px;
  min-height: 100vh;
}

html {
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 1.5;
  font-family: 'Raleway', 'Arial', sans-serif;
  font-feature-settings: 'pnum' on, 'lnum' on;
}

body {
  width: 100%;
  height: 100%;
  overflow-wrap: break-word;

  /* background: linear-gradient(
    0deg,
    var(--main-color) 0%,
    var(--dark-green) 100%
  ); */
  background: var(--main-color) url(../img/forest-silhouette.png) no-repeat
    bottom/contain;
}

.hidden {
  display: none;
}

.scroll-lock {
  overflow: hidden;
}

.container {
  --container-offset: 32px;
  max-width: 60vw;
  max-height: 60vh;
  margin: 0 auto;
  padding: 0 var(--container-offset);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.img__wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  padding: 0.3rem 0.5rem;
  font-weight: 600;
  font-size: 1.3rem;
  line-height: 1.2;
  color: var(--white);
  letter-spacing: 0.05rem;
  text-transform: inherit;
  background-color: rgba(255, 255, 255, 0);
  border: 1px solid var(--light-green);
  border-radius: 47px;
  cursor: pointer;
}

.btn:hover {
  background-color: var(--violet);
  border: 1px outset var(--violet);
}

/* HEADER */

.header__wrapper {
  display: flex;
  justify-content: space-between;
  max-width: 60vw;
  max-height: 28vh;
  align-items: center;
  margin: 0 auto;
  position: relative;
  padding: 2vw 0;
  margin-bottom: 10vh;
  position: relative;

  & .quote {
    color: var(--white);
    font-size: 1.5rem;
    font-weight: 400;
    padding: 1rem;
    flex: 0 0 50vw;
    letter-spacing: 0.1rem;
  }

  & .quote__author {
    font-size: 1rem;
    color: var(--light-green);
  }

  & .twilight-img {
    max-width: 20vw;
  }

  & .img__wrapper {
    position: relative;
  }

  & .img__wrapper::after {
    content: 'Tic-tac-toe';
    position: absolute;
    top: 16vh;
    right: 2vw;
    font-family: 'Raleway', 'Arial', sans-serif;
    font-size: 1.5rem;
    font-weight: 400;
    color: var(--white);
  }
}

.quote {
  position: relative;
}

.quote p {
  margin: 0 0.8vh;
}

.quote::before {
  content: '“';
  position: absolute;
  left: -1.5rem;
  top: -1rem;
  font-family: sans-serif;
  font-size: 5rem;
}

.img-sound img {
  width: 2.5vw;
  filter: invert(48%) sepia(13%) saturate(3207%) hue-rotate(130deg)
    brightness(90%) contrast(80%);
  position: absolute;
  top: 4vh;
  right: 2vw;
}

/* MAIN SCREEN */

.main-screen {
  border: 1rem ridge var(--violet);
  background: linear-gradient(
    0deg,
    var(--main-color) 0%,
    var(--light-green) 100%
  );
  padding: 2rem;

  & .btn {
    margin: 1vw 1vh;
  }
}

.main-screen__wrapper {
  display: flex;
  justify-content: space-evenly;
  align-items: center;

  & .img__wrapper {
    flex: 0 0 auto;
    width: 25rem;
  }

  & img {
    max-height: 30vh;
  }

  & p {
    font-size: 1.3rem;
    color: var(--white);
    flex: 1;
    line-height: 2;
  }
}

/* GAME GRID */

.game__wrapper {
  display: flex;
  margin: 0 auto;
  max-width: 80vw;
  min-height: 500px;
  justify-content: space-around;
  align-items: center;
}
.game__grid {
  background-color: var(--dark-green);
  max-width: 500px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.cell {
  height: 50px;
  width: 50px;
  border: 1px solid var(--light-green);
}

.edward__wrapper {
  display: flex;
  height: 500px;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  position: relative;

  & img {
    max-height: 20vw;
    position: absolute;
    top: 13vh;
    left: 10vw;
  }
}

.edward__quote {
  display: flex;
  width: 30vw;
  align-items: center;
  justify-content: center;
  flex: 0.5;
  background-color: hsl(120, 8%, 93%, 0.75);
  color: var(--main-color);
  border: 3px ridge var(--violet);
  font-size: 1.3rem;
  font-weight: 400;
  border-radius: 9px;

  & p {
    padding: 1rem;
  }
}

.lion {
  background: transparent url(../img/icon/free-icon-leo-3268525.png) no-repeat
    center / cover;
  filter: invert(48%) sepia(10%) saturate(3000%) hue-rotate(150deg)
    brightness(45%) contrast(80%);
}

.lamb {
  background: transparent url(../img/icon/free-icon-sheep-2707998.png) no-repeat
    center / cover;
  filter: invert(48%) sepia(13%) saturate(3207%) hue-rotate(130deg)
    brightness(90%) contrast(80%);
}

/* MODAl */

.game-over-modal {
  border: none;
  padding: 0;
}

.game-over-modal__wrapper {
  max-width: 50vw;
  max-height: 50vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(
    0deg,
    var(--main-color) 0%,
    var(--light-green) 100%
  );
  color: var(--white);
  border: 1rem ridge var(--violet);
  padding: 1vw;

  & .btn {
    margin: 1.5vh 1vw;
  }
}

.modal__content {
  display: flex;
  width: 50vw;
  height: 50vh;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;

  & p {
    max-width: 30vw;
    text-align: center;
    font-size: 1.3rem;
  }

  & img {
    height: 20vh;
  }
}

dialog::backdrop {
  background-color: rgb(0 0 0 / 70%);
}

/* ANIMATION */
.swinging {
  transform-origin: top center;
  animation-name: swing;
  animation-duration: 1s;
  animation-fill-mode: both;
}

@keyframes swing {
  20% {
    transform: rotate3d(0, 0, 1, 15deg);
  }
  40% {
    transform: rotate3d(0, 0, 1, -10deg);
  }
  60% {
    transform: rotate3d(0, 0, 1, 5deg);
  }
  70% {
    transform: rotate3d(0, 0, 1, 0deg);
  }
  80% {
    transform: rotate3d(0, 0, 1, -5deg);
  }
  90% {
    transform: rotate3d(0, 0, 1, -3deg);
  }
  100% {
    transform: rotate3d(0, 0, 1, 0deg);
  }
}
