/* FONTS */
@font-face {
  font-style: normal;
  font-weight: 400;
  font-family: 'Raleway';
  font-display: swap;
  src: url('../fonts/raleway-400.woff2') format('woff2'),
    url('../fonts/raleway-400.woff') format('woff');
}

@font-face {
  font-style: normal;
  font-weight: 600;
  font-family: 'Raleway';
  font-display: swap;
  src: url('../fonts/raleway-600.woff2') format('woff2'),
    url('../fonts/raleway-600.woff') format('woff');
}

@font-face {
  font-style: normal;
  font-weight: 700;
  font-family: 'Raleway';
  font-display: swap;
  src: url('../fonts/raleway-700.woff2') format('woff2'),
    url('../fonts/raleway-700.woff') format('woff');
}

@font-face {
  font-style: normal;
  font-weight: 800;
  font-family: 'Raleway';
  font-display: swap;
  src: url('../fonts/raleway-800.woff2') format('woff2'),
    url('../fonts/raleway-800.woff') format('woff');
}
/* COLORS */

:root {
  --main-color: #093d4e;
  --dark-green: #2e7552;
  --light-green: #09898a;
  --violet: #484e79;
  --white: #ebfbee;
}

/* GENERAL
/* Remove the margin in all browsers. */

body {
  margin: 0;
}

* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  /* max-width: 1366px; */
  min-height: 100vh;
}

html {
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 1.5;
  font-family: 'Raleway', 'Arial', sans-serif;
  font-feature-settings: 'pnum' on, 'lnum' on;
}

body {
  width: 100%;
  height: 100%;
  overflow-wrap: break-word;
  background: var(--main-color) url(../img/forest-silhouette.png) no-repeat
    bottom/contain;
}

.hidden {
  display: none;
}

.scroll-lock {
  overflow: hidden;
}

.container {
  --container-offset: 32px;
  max-width: 60vw;
  margin: 0 auto;
  padding: 0 var(--container-offset);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.img__wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  padding: 0.3rem 0.5rem;
  font-weight: 600;
  font-size: clamp(0.4rem, 1.3vw, 2.5rem);
  line-height: 1.2;
  color: var(--white);
  letter-spacing: 0.05rem;
  text-transform: inherit;
  background-color: rgba(255, 255, 255, 0);
  border: 1px solid var(--light-green);
  border-radius: 47px;
  cursor: pointer;
}

.btn:hover {
  background-color: var(--violet);
  border: 1px outset var(--violet);
}

/* HEADER */

.header__wrapper {
  display: flex;
  justify-content: space-between;
  max-width: 60vw;
  max-height: 28vh;
  align-items: center;
  margin: 0 auto;
  position: relative;
  padding: 2vw 0;
  margin-bottom: 8vh;
  position: relative;

  & .quote {
    color: var(--white);
    font-size: clamp(1.1vw, 1.3vw, 2.3rem);
    font-weight: 400;
    padding: 1rem 0;
    flex: 0 0 50vw;
    letter-spacing: 0.1rem;
    position: relative;
  }

  & .quote__author {
    font-size: 1.2vw;
    color: var(--light-green);
  }

  & .twilight-img {
    max-width: 20vw;
  }

  & .img__wrapper {
    position: relative;
  }

  & .img__wrapper::after {
    content: 'Tic-tac-toe';
    position: absolute;
    top: 8vw;
    right: 2vw;
    font-family: 'Raleway', 'Arial', sans-serif;
    font-size: 1.5vw;
    font-weight: 400;
    color: var(--white);
  }
}

.quote p {
  margin: 0 0.8vh;
}

.quote::before {
  content: '“';
  position: absolute;
  left: -1.5rem;
  top: -1rem;
  font-family: sans-serif;
  font-size: clamp(0.5rem, 5rem, 2.5rem);
}

.img-sound img {
  width: 2.5vw;
  filter: invert(48%) sepia(13%) saturate(3207%) hue-rotate(130deg)
    brightness(90%) contrast(80%);
  position: absolute;
  top: 4vh;
  right: 2vw;
}

/* MAIN SCREEN */

.main-screen {
  border: 1rem ridge var(--violet);
  background: linear-gradient(
    0deg,
    var(--main-color) 0%,
    var(--light-green) 100%
  );
  padding: 1vh 2vw;

  & .btn {
    margin: 1vw 1vh;
  }
}

.main-screen__wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;

  & .img__wrapper {
    flex: 0 0 auto;
    width: 30vw;
  }

  & img {
    max-height: 20vh;
  }

  & p {
    font-size: clamp(0.4rem, 1.3vw, 2.5rem);
    color: var(--white);
    flex: 1;
    max-width: clamp(30vw, 50vw, 60vw);
    line-height: 2;
  }
}

/* GAME GRID */

.game__grid {
  min-width: 250px;
  min-height: 250px;
  --grid-width: 25vw;
  background-color: var(--dark-green);
  width: var(--grid-width);
  height: var(--grid-width);
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: stretch;
  gap: none;
}

.game__wrapper {
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
  max-width: 80vw;
  max-height: var(--grid-width);
  justify-content: space-around;
  align-items: center;
  gap: 3vw;
}

.cell {
  --cell-width: 25px;
  min-height: var(--cell-width);
  min-width: var(--cell-width);
  height: 2.5vw;
  width: 2.5vw;
  border: 1px solid var(--light-green);
}

.edward__wrapper {
  height: var(--grid-width);
  align-self: flex-start;
  position: relative;

  & img {
    max-height: 20vw;
    position: absolute;
    top: 16vh;
    left: 10vw;
  }
}

.edward__quote {
  display: flex;
  width: clamp(250px, 25vw, 50vw);
  height: 20vh;
  align-items: center;
  justify-content: center;
  flex: 0.5;
  background-color: hsl(120, 8%, 93%, 0.75);
  color: var(--main-color);
  border: 3px ridge var(--violet);
  font-size: clamp(0.8rem, 1.3vw, 2.5rem);
  font-weight: 400;
  border-radius: 9px;

  & p {
    padding: 1rem;
  }
}

.lion {
  background: transparent url(../img/icon/free-icon-leo-3268525.png) no-repeat
    center / cover;
  filter: invert(48%) sepia(10%) saturate(3000%) hue-rotate(150deg)
    brightness(45%) contrast(80%);
}

.lamb {
  background: transparent url(../img/icon/free-icon-sheep-2707998.png) no-repeat
    center / cover;
  filter: invert(48%) sepia(13%) saturate(3207%) hue-rotate(130deg)
    brightness(90%) contrast(80%);
}

/* MODAl */

.game-over-modal {
  border: none;
  padding: 0;
}

.game-over-modal__wrapper {
  max-width: 50vw;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(
    0deg,
    var(--main-color) 0%,
    var(--light-green) 100%
  );
  color: var(--white);
  border: 1rem ridge var(--violet);
  padding: 1vw;

  & .btn {
    margin: 2.5vh 1vw;
  }
}

.modal__content {
  display: flex;
  width: 50vw;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;

  & p {
    max-width: 30vw;
    text-align: center;
    font-size: clamp(1rem, 1vw, 2rem);
  }

  & img {
    height: 20vh;
  }
}

dialog::backdrop {
  background-color: rgb(0 0 0 / 70%);
}

/* ANIMATION */
.swinging {
  transform-origin: top center;
  animation-name: swing;
  animation-duration: 1s;
  animation-fill-mode: both;
}

@keyframes swing {
  15% {
    -webkit-transform: translateX(9px);
    transform: translateX(9px);
  }
  30% {
    -webkit-transform: translateX(-9px);
    transform: translateX(-9px);
  }
  40% {
    -webkit-transform: translateX(6px);
    transform: translateX(6px);
  }
  50% {
    -webkit-transform: translateX(-6px);
    transform: translateX(-6px);
  }
  65% {
    -webkit-transform: translateX(3px);
    transform: translateX(3px);
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}

@keyframes move {
  from {
    left: 100%;
  }
  to {
    left: -100%;
  }
}

.wolf__img {
  position: absolute;
  bottom: 0;
  animation: move 20s infinite;
  animation-timing-function: linear;
  width: 8vw;
  filter: invert(70%) sepia(10%) saturate(3000%) hue-rotate(150deg)
    brightness(25%) contrast(80%);
}

.wolf-img-1 {
  animation-delay: -10s;
}
